<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/micro?useUnicode=true&amp;characterEncoding=UTF-8</property>
	    <property name="hibernate.connection.username">root</property>
	    <property name="hibernate.connection.password">root</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="format_sql">false</property>
		
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region_prefix">com.etech.ehcache</property>
		 <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property>
		<property name="hibernate.cache.use_structured_entries">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		
		
		<mapping class="cn.believeus.model.Trole"/>
		<mapping class="cn.believeus.model.Tauthority"/>
		<mapping class="cn.believeus.model.Tevent"/>
		<mapping class="cn.believeus.model.Tuser"/>
		<mapping class="cn.believeus.model.TuserEvent"/>
		<mapping class="cn.believeus.model.Ttask"/>
		<mapping class="cn.believeus.model.TCategory"/>
		<mapping class="cn.believeus.model.TCourse"/>
	</session-factory>

</hibernate-configuration>